$blue: #1e32aa;
$gray-100: #f5f7f9;
// $gray-100: #f7f8fd;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.btn {
  font-weight: 500;
  border-radius: 0;
  padding: 10px 30px;
}
// .form-label {
//   font-weight: 700 !important;
//   font-size: 1rem !important;
// }
// .form-control {
//   border: 1px solid $secondary;
//   border-radius: 0;
//   padding: 0.75rem 0.75rem;
//   &:hover {
//     border: 1px solid #000;
//   }
//   &:focus {
//     border: 1px solid $primary;
//     box-shadow: none;
//   }
//   &:disabled {
//     border: 0;
//   }
// }
// .form-select {
//   font-size: inherit;
//   border: 1px solid $secondary;
//   border-radius: 0 !important;
//   padding-top: 0.75rem !important;
//   padding-bottom: 0.75rem !important;
//   &:hover {
//     border: 1px solid #000;
//   }
//   &:focus {
//     border: 1px solid $primary;
//     box-shadow: none;
//   }
//   &:disabled {
//     border: 0;
//   }
// }
