$blue: #1e32aa;
$gray-100: #f5f7f9;
$gray-600: #00005a;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

a {
  // width: fit-content;
  text-decoration: none;
  // color: white;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // text-align: center;
}
img {
  width: 100%;
}
p {
  color: $gray-600;
  font-weight: 100;
  line-height: 1.2;
}

.btn {
  font-weight: 500;
  border-radius: 0;
  padding: 10px 30px;
}

.form-label {
  font-size: 16px !important;
}

.form-control {
  width: 100%;
  // border-radius: 10px;
  background-color: $gray-100;
  border: none;
  padding: 10px;
  &::placeholder {
    font-size: 14px;
  }
  // &:hover {
  //   border: 1px solid #000;
  // }
  // &:focus {
  //   border: 1px solid $primary;
  //   box-shadow: none;
  // }
  // &:disabled {
  //   border: 0;
  // }
}

// .form-select {
//   font-size: inherit;
//   border: 1px solid $secondary;
//   border-radius: 0 !important;
//   padding-top: 0.75rem !important;
//   padding-bottom: 0.75rem !important;
//   &:hover {
//     border: 1px solid #000;
//   }
//   &:focus {
//     border: 1px solid $primary;
//     box-shadow: none;
//   }
//   &:disabled {
//     border: 0;
//   }
// }

.control-arrow {
  background: none !important;
}
.carousel-slider {
  overflow: visible !important;
}
.carousel .control-prev.control-arrow::before,
.carousel .control-next.control-arrow::before {
  border-right: 20px solid $gray-600 !important;
}
.carousel .control-dots {
  bottom: -30px !important;
  li {
    background-color: $gray-600 !important;
    width: 20px !important;
    height: 20px !important;
  }
}

.butonn {
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-weight: normal;
  font-size: 35px;
  border-radius: 20%;
  // display: none;
  border: none;
  background-color: $blue;
  color: white;
  transition: all 0.5s ease-in-out;
  z-index: 5959;
  &:hover {
    background-color: $gray-600 !important;
  }
}

.butonn2 {
  position: fixed;
  bottom: 30px;
  left: 10px;
  width: 50px;
  height: 50px;
  font-weight: normal;
  font-size: 40px;
  border-radius: 20%;
  // display: none;
  border: none;
  color: $blue;
  transition: all 0.5s ease-in-out;
  z-index: 5959;
  background-color: white;
  &:hover {
    transform: scale(1.1);
  }
}
