@import "custom.scss";

// font-family: "Ubuntu", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
$Ubuntu: "Ubuntu ", sans-serif;

// font-family: "Noto Serif", serif;
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
$Noto: "Noto Serif", serif;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $blue;
}

html {
  scroll-behavior: smooth;
  body {
    background-color: #fff;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    #root {
      width: 100% !important;
      min-height: 100vh !important;
      display: flex;
      flex-direction: column;
      nav + div {
        flex: 1 !important;
      }
    }

    a.nav-link {
      font-weight: 500;
      &.active {
        color: $primary !important;
      }
    }

    .text-noto {
      font-family: $Noto;
    }

    .truncate-two {
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .secTitle {
      color: $blue-200;
      font-family: $Noto;
      font-weight: bolder;
      font-size: 6rem;
      // line-height: 1.2;
      word-wrap: break-word;
      text-align: center;
      margin-bottom: 5px;
      & + p {
        color: #00005a;
        font-family: $Noto;
        font-weight: bolder;
        font-size: 1.5rem;
        text-align: center;
        margin-top: -15px;
        padding: 0;
      }
    }

    .cursor-pointer {
      cursor: pointer !important;
    }

    .carousel-root {
      button {
        display: none !important;
      }
    }
    .show-all-doctors-div {
      button {
        background-color: $gray-600;
        border-radius: 30px;
      }
    }

    .according-home {
      button {
        outline: none !important;
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        margin-top: 20px;
        color: $blue !important;
        font-weight: bold !important;
        &::after {
          margin-right: 0px !important;
          border: 0.1px solid $gray-600 !important;
          width: 25px !important;
          height: 20px !important;
          margin-top: 5px;
          padding-top: 5px;
          color: white !important ;
        }
      }
      h1 {
        color: $blue;
      }
      h2 {
        color: $gray-600;
      }
    }

    .last-sec {
      h2 {
        color: $gray-600;
        text-align: center;
        font-size: 60px;
        font-weight: bold;
      }
      .card {
        border-radius: 20px;
        padding: 30px;

        button {
          margin-top: 20px;
          background-color: $blue;
        }
        height: 100%;
        .d-flex {
          margin-top: 20px;
          justify-content: space-evenly;
          span:first-of-type {
            border-radius: 50%;
            border: 1px solid #00005a;
            color: #00005a;
            width: 22px;
            height: 25px;
            text-align: center;
          }
        }
      }
    }

    .card-services {
      border: none;
      img {
        width: 100%;
      }
      h1 {
        color: $gray-600;
        margin-top: 10px;
        text-align: center;
      }
      p {
        margin-top: 10px;
        text-align: center;
      }
    }

    // search box

    .search-box {
      margin-top: 20px;
      input {
        width: 60%;
        border: 1px solid $blue;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;

        padding: 15px;
        outline: none;
        background-color: $gray-100;
        &::placeholder {
          font-size: 15px;
        }
      }
      button {
        width: 80px;
        border: none;
        background-color: $blue;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        svg {
          color: white;
          font-size: 20px;
        }
      }
    }

    // doctor card
    .card {
      border: 1px solid $blue;
      padding: 15px;
      text-align: start !important;
      img {
        width: 100%;
      }
      .card-name {
        color: $blue;
      }
      a {
        text-decoration: none !important;
      }
    }
  }

  // news-card
  .news-card {
    border: none !important;
    .div-background {
      position: relative;
      img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
      }
      span {
        position: absolute;
        left: 10px;
        right: 0px;
        bottom: 10px;
        padding: 10px;
        background-color: $blue;
        color: white;
        width: 100px;
        border-radius: 10px;
        font-size: 10px;
      }
    }
    .card-body {
      background-color: $gray-100;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  //first checkup age and gender section
  .age-gender-section {
    text-align: center;
    .bg {
      border-radius: 10px;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.338);
      background-color: $gray-100;
    }
    h1 {
      font-size: 22px;
    }
    h2 {
      color: rgba(128, 128, 128, 0.675);
      font-size: 25px;
    }
    .age {
      button,
      input {
        border-radius: 10px;
        background-color: white;
        border: 1px solid $blue !important;
      }

      button {
        color: $blue;
      }

      input {
        outline: none;
        text-align: center;
        color: $blue;
        width: 80px !important;
      }
    }

    .genders {
      button {
        border-radius: 10px;
      }
      .women-btn {
        background-color: #1e32aa99;
      }
      .man-btn {
        background-color: $gray-100;
      }
    }

    .continue {
      width: 100%;
      border-radius: 10px;
      background-color: $blue;
      color: white;
      padding: 20px;
      position: relative;
    }
  }

  //second checkup
  .diseases-section {
    text-align: center;
    .bg {
      border-radius: 10px;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.338);
      background-color: $gray-100;
    }
    .two-btns {
      justify-content: space-around;
      a {
        padding: 15px;
        width: 300px;
        border-radius: 10px;
        &:first-of-type {
          background-color: white;
          border: 1px solid $blue;
          color: $blue;
          font-weight: bold;
          transition: all 0.4s ease-in-out;
          &:hover {
            background-color: $blue;
            color: white;
          }
        }
        &:last-of-type {
          background-color: $blue;
          color: white;
          transition: all 0.4s ease-in-out;
          font-weight: bold;

          &:hover {
            background-color: white;
            color: $blue;
            border: 1px solid $blue;
          }
        }
      }
    }
  }

  .last-sec {
    background-color: $blue;
    padding: 150px;
    h1 {
      color: white;
    }
    p {
      color: gainsboro;
      font-size: 20px;
    }
  }
}
